body {
}


.Centrar
{    
    margin: 0 auto;        
    width:1100px;    
    }


.titulo
{        
   
   
    }
    
     .DatosProyecto
 {
     border: double #666666;  
     width: 475px;          
     height: 250px;     
     overflow: auto;
    margin-bottom: 0px;
}


.DatosCliente1
    {
     border: double #666666;  
     width: 600px;          
     height: 250px;      
     overflow: auto;
    margin-bottom: 0px;  
    }
     
      .ProyectosView
 {
     border: double #666666;  
     width: 475px;          
     height: 250px;   
     overflow: auto;
 }
     
  .Cliente
 {
     border: double #666666;  
     width: 475px;          
     height: 400px;     
     overflow: auto;
     }

.datosCliente
 {
     border: double #666666;  
     width: 600px;          
     height: 400px; 
     overflow: auto;
    margin-right: 0px;
}
     
     

     
     .blanco
     {         
         height: 50px; 
         }
