body {

}

/*
.row > div{
  background: #f2f2f2;
  padding: 30px;
  border: 1px solid grey;
}

 .divCotiSinCosto
 {
     border: double #666666;  
     width: auto;          
     height: 150px;     
     overflow: auto;
     }

*/