body {
}

.Centrar
{    
    margin: 0 auto;        
    width:850px;    
    }

.titulo
{        
    text-align:center;
    height:40px;        
    width:auto;
    font-weight: 700;
}

.titulo2
{        
    height:40px;
    width:790px;        
    }

.titulo3
{       
    height:40px;    
    width:790px;    
    }
    
.GEE1
{
   float: left;
   height: 60px;   
   width: 850px;    
   }


.GEE2
{
   float: left;
   overflow:auto; 
   height: 200px;   
   width: 850px;  
   border: double #666666;   
}

.GEE3
{
   float: left;
   overflow:auto; 
   height: 160px;  
   width: 840px;   
   border: double #666666;   
}

.GEE4
{
      float: left;
   overflow:auto; 
   height: 160px;  
   width: 840px;   
   border: double #666666;
}

.GEE5
{
   float: left;   
   height: 40px;  
         
    }
    
 .centered {
   text-align: center;
   font-size: 0;
}
.centered > div {
   float: none;
   display: inline-block;
   text-align: left;
   font-size: 13px;
}