body {
}


.CR_central
{    
    margin: 0 auto;            
    width:910px;
    }

.titulo
{        
    height:40px;
    margin-top: 20px;
    }
    
     .CR_consulta
 {
     border: double #666666;  
     width: 900px;          
     height: auto;     
     overflow: auto;
     }
     
     
         .CR_datos
 {
     border: double #666666;  
     width: 900px;          
     height: 450px;     
     overflow: auto;
     }

     
     .blanco
     {         
         height: 50px; 
         }