body {
}


.Centrar
{    
    margin: 0 auto;        
    width:1100px;    
    }


.titulo
{        
   
   
    }
    
     .DatosProyecto
 {
     border: double #666666;  
     width: 470px;          
     height: 120px;     
     overflow: auto;
     }
     
      .ProyectosView
 {
     
     width: 600px;          
     height: 120px;     
     overflow: auto;
 }
     
  .Cliente
 {
     border: double #666666;  
     width: 470px;          
     height: 250px;     
     overflow: auto;
     }

.datosCliente
 {
     border: double #666666;  
     width: 600px;          
     height: 250px;
     overflow: auto;
     }
     
     

     
     .blanco
     {         
         height: 50px; 
         }
