.CompletionList {
    padding: 5px 0;
    margin: 2px 0 0;
    /*  position:absolute;  */
    height: 150px;
    width: 200px;
    background-color: White;
    cursor: pointer;
    border: solid;
    border-width: 1px;
    font-size: x-small;
    overflow: auto;
}

.CompletionlistItem {
    font-size: x-small;
}

.CompletionListMighlightedItem {
    background-color: Green;
    color: White;
    /* color: Lime;
           padding: 3px 20px;
            text-decoration: none;           
            background-repeat: repeat-x;
            outline: 0;*/
}

.container-form{
    padding:20px;
    background-color:antiquewhite;
    color:black;
}

.form_buscarCar{
    padding:5px;
}


.container-gvRegistros {
    height: 350px;
    border: 2px solid black;
    font-size: 12px;
    overflow-y: auto;
    margin: 10px;
    padding: 0px;
}

.container-gvRegistros th{
    padding:10px;
}
.container-gvRegistros td{
    padding:5px;
}

.container-gvDetRegistros{
    font-size:12px;
    margin:10px;
}

.sticky-table th {
    position: sticky !important;
    top: 0 !important;
    background-color: #ff8800 !important;
    color: white !important;
    z-index: 100 !important;
    border:1px solid white !important;
}

.gv_solicitudesProductos tr.highlighted td {
    background-color: #ff920082 !important;
    border:1px solid white !important;
}

.form-control:focus, .form-select:focus{
    border: 2px solid black !important;
    box-shadow: 0 0 7px 2px black !important;
}

.btn-success:hover{
    border:1px solid black;
    box-shadow: 0 0 10px green;
}
.btn-danger:hover {
    border: 1px solid black;
    box-shadow: 0 0 10px red;
}
.btn-primary:hover {
    border: 1px solid black;
    box-shadow: 0 0 10px blue;
}
.btn-warning:hover {
    border: 1px solid black;
    box-shadow: 0 0 10px orange;
}
.dropdown-toggle:focus-visible {
    background-color: #1f1d1dd1 !important;
    box-shadow: 0 0 11px 1px #4f3e3ea6 !important;
}