body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}


/*  POST - INPUT text number */
.inputText {
    width: 130px; /* Ajusta el tamaño según tus necesidades */
    padding: 4px; /* Añade un poco de espacio interno */
    font-size: 14px; /* Cambia el tamaño de la fuente */
}
.inputNumber {
    width: 80px; /* Ajusta el tamaño según tus necesidades */
    padding: 4px; /* Añade un poco de espacio interno */
    font-size: 14px; /* Cambia el tamaño de la fuente */
}
td {
    padding: 10px; /* Ajusta el padding de las celdas */
}
th{
    padding: 10px;
}


/*      GRIDVIEW    */
