<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="ajaxControlToolkit" type="AjaxControlToolkit.AjaxControlToolkitConfigSection, AjaxControlToolkit"/>
  </configSections>
  <system.webServer>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <identity impersonate="true"/>
    <httpRuntime useFullyQualifiedRedirectUrl="true" maxRequestLength="65536" requestLengthDiskThreshold="24576" executionTimeout="3600"/>
    <sessionState timeout="60"/>
    <globalization culture="es-ES" uiCulture="es-ES"/>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </buildProviders>
    </compilation>
  </system.web>
  <connectionStrings>
    <!-- prueba  -->
    <add name="MySqlCuadrosXXX" connectionString="server=192.168.11.192;UID=jtapia;PWD=jtapia9759005**;Database=db_seguimientocorpal_prueba"/>
    <!-- fin de la prue3ba -->
    <!-- base de datos de Corpal simec Inventario -->
    <add name="db_corpal" connectionString="server=192.168.11.192;UID=jtapia;PWD=jtapia9759005**;Database=db_seguimientocorpal_prueba"/>
  </connectionStrings>
  <appSettings>
    <add key="NombreCarpetaContenedora" value=""/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
    <add key="RutaSGI" value="C:/Documentos_JYC/"/>
    <add key="RutaJYC" value="C:/Documentos_JYC/"/>
    <add key="qr_codeEquipoDibujo" value="/QR_CodeEquipo/"/>
    <add key="repo_reciboIngreso" value="F:/Users/Sistema/Documents/GitHub/jyc_corpal/jycboliviaASP.net/Reportes/Report_ReciboIngreso.rdlc"/>
    <add key="repo_reciboEgreso" value="F:/Users/Sistema/Documents/GitHub/jyc_corpal/jycboliviaASP.net/Reportes/Report_ReciboEgreso.rdlc"/>
    <add key="repo_entregaSolicitudProducto" value="F:/Users/Sistema/Documents/GitHub/jyc_corpal/jycboliviaASP.net/Reportes/Report_ReciboEntregadoProductos.rdlc"/>
    <add key="repo_SolicitudProducto" value="F:/Users/Sistema/Documents/GitHub/jyc_corpal/jycboliviaASP.net/Reportes/Report_ReciboPedidoProductos.rdlc"/>
    <add key="repo_ReciboEntregaProduccion" value="F:/Users/Sistema/Documents/GitHub/jyc_corpal/jycboliviaASP.net/Reportes/Report_ReciboEntregaProduccion.rdlc"/>
    <add key="repo_SolicitudMaterialeInsumos" value="F:/Users/Sistema/Documents/GitHub/jyc_corpal/jycboliviaASP.net/Reportes/Report_SolicituddeMaterialeInsumos.rdlc"/>
    <add key="repo_CompradoMaterialeInsumos" value="F:/Users/Sistema/Documents/GitHub/jyc_corpal/jycboliviaASP.net/Reportes/Report_CompradeMaterialeInsumos.rdlc"/>
    <add key="repo_RecibidoMaterialeInsumos" value="F:/Users/Sistema/Documents/GitHub/jyc_corpal/jycboliviaASP.net/Reportes/Report_RecibidoMaterialeInsumos.rdlc"/>
    <add key="repo_ReciboEntregaProduccion_Voucher" value="F:/Users/Sistema/Documents/GitHub/jyc_corpal/jycboliviaASP.net/Reportes/Voucher_ReciboEntregaProduccion.rdlc"/>
    <add key="rutaVoucherProduccion" value="F:\Users\Sistema\Documents\GitHub\jyc_corpal\jycboliviaASP.net\jycboliviaASP.net\Voucher_Produccion/"/>
    <add key="qr_codeActivo" value="F:/Users/Sistema/Documents/GitHub/jyc_corpal/jycboliviaASP.net/jycboliviaASP.net/QR_CodeActivo/"/>
    <!--<add key="ruta_ArchivoCompra" value="F:/Users/Sistema/Documents/GitHub/jyc_corpal/jycboliviaASP.net/jycboliviaASP.net/ArchivoCompraExcel/Corpal/Compra/" />-->
    <add key="ruta_ArchivoCompra" value="C:/Users/atc/Desktop/UponC/Nueva carpeta/"/>
    <add key="ruta_ArchivoVenta" value="C:/Users/atc/Desktop/UponC/Nueva carpeta/"/>
    <add key="Guardar_RecetaInsumo" value="F:/Users/Sistema/Documents/GitHub/jyc_corpal/jycboliviaASP.net/Report_Receta/"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <ajaxControlToolkit htmlSanitizer="AjaxControlToolkit.HtmlEditor.Sanitizer.DefaultHtmlSanitizer, AjaxControlToolkit.HtmlEditor.Sanitizer"/>
</configuration>