body {
}


.Centrar
{    
    margin: 0 auto;        
    width:1000px;    
    }


.titulo
{        
   
   
    }
    
     .DatosProyecto
 {
    /* border: double #666666;   */
     width: 1000px;          
     height: auto;     
     overflow: auto;
     }
     
 
.datosCliente
 {
     border: double #666666;  
     width: 1000px;          
     height: 250px;
     overflow: auto;
     }
     
     

     
     .blanco
     {         
         height: 50px; 
         }
