body {
}


.Centrar
{   
    text-align:left;
    float:left;         
    width:auto;
    height:auto;
    margin: 0 auto;
    }

.titulo
{        
<<<<<<< HEAD
    height:40px;
    margin-top: 20px;
=======
    height:auto;    
>>>>>>> 3bb838e9113dacc4bd36678ba5235edb8887f2cb
    }

.datosEdificio 
{
   border: double #666;           
<<<<<<< HEAD
    height: 70px;  
    width: 700px;        
=======
    height: auto;  
    width: auto;        
>>>>>>> 3bb838e9113dacc4bd36678ba5235edb8887f2cb
    }


.edificios
{
    border: double #666;           
<<<<<<< HEAD
    height: 300px;  
    width: 700px;  
=======
    height: 350px;  
    width: auto;  
>>>>>>> 3bb838e9113dacc4bd36678ba5235edb8887f2cb
    overflow:auto;      
    }

.documentos
{
    border: double #666;           
<<<<<<< HEAD
    height: 200px;  
    width: 700px;
=======
    height: 350px;  
    width: auto;
>>>>>>> 3bb838e9113dacc4bd36678ba5235edb8887f2cb
    overflow: auto;        
   }

.pie
{           
    height: 40px;  
    width: auto;        
   }


.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	
}