body {
}

.RB_central
{
     margin: 0 auto;            
    width:auto;
    }
    
 .DatosProyecto
 {
    border: double #666666;        
    overflow: auto;
    height: 150px;  
    width: auto;   
     }
     
 .DatosItem
 {
    border: double #666666;        
    overflow: auto;
    height: 200px;  
    width: auto;   
     }