body {
}

.Centrar
{   
    text-align:left;
    float:left;         
    width:800px;
    height:auto;
          
    }

.titulo
{        
    height:40px;
    margin-top: 20px;
    }
    
    
        .ea1RCC
    {
    border: double #666666;    
    float: left;   
    height: 140px;  
    width: 700px;    
        
        }
        
     .cc0RCC
     {
        border: double #666666;    
        height: 70px;  
        width: 700px;    
        margin: 0 auto;
        text-align:center;  
         }   
      .e2RCC
    {
    border: double #666666;    
    float: left;   
    overflow: auto;
    height: 500px;  
    width: 700px;    
        
        }
        
         .llamadaRIN
{
    border: double #666666;    
    float: left;   
    height: 200px;  
    width: 700px;
     
    }
    
     
           .e4RIN
    {
    border: double #666666;    
    float: left;
    height: auto;  
    width: 700px;    
        
        }