body {
}

.Centrar
{    
    margin: 0 auto;            
    width:850px;
    height:750px;  
    }

.titulo
{        
    height:40px;
    margin-top: 20px;
    }
    
     .TablaEdificios
   {

   border: double #666666;
   height:600px;  
   width: auto;   
   overflow: auto;
    }
