body {
}


.Centrar
{       
    margin: 0 auto;            
    width:950px;
    height:auto;
    }

.titulo
{        
    height:40px;
    margin-top: 20px;
    }


.GE1
{    
    height: auto;      
    width:890px;
    margin: 0 auto;
    text-align: left;   
  }
    
    .GE2
{    
    float: left;
    overflow:auto; 
    height: 300px;      
    width:98px;
    text-align: left;       
    }
    
      .datos4
   {
       overflow:auto; 
     border: double #666666;     
     float: left;
     border: double #666666;
     height:150px;  
     width: 948px;     
     margin-top: 7px;
     border: double #666666;  
    }
    
.blanco
{
     
     width: 800px;
     text-align: left;
     height: 160px;     
         
    }    
