body {
}

.Centrar
{        
    margin: 0 auto;            
    width:950px;
    }

.titulo
{        
    height:40px;    
    margin-top: 20px;
    }
    
 .sc1
 { 
   border: double #666;  
   float: left;   
   height: 120px;  
   width: 940px;
     
     }   
     
  .sc2
 { 
   border: double #666;  
   float: left;   
   height: 300px;  
   width: 940px;
   overflow:auto;
     } 