body {	
	margin: 0;
	padding: 0;
	color: #000;
	background-color:White;	
	font-family: Arial, Helvetica, sans-serif;
}


h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 15px;
	padding-left: 15px;    
}


td
{
    margin: 5px;
    padding-left: 5px;
    }

.header {				
	height: 125px;	
	background-position: center;
	margin: 0 auto;
	text-align:center;
}

.logo{
	float: left;
	height: 125px;
	/*width: 990px;	*/
	}
	
#cssmenu a
{
    font-weight:bold;
    }

#cssmenu a:hover {
  background-color: Green;
  color:White;

}
   

    	
/* ~~ The footer ~~ */
.footer {
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
	height: 150px;
	width:auto;
	text-align: center;
	color: #000;
	background-image: url(../Images/pie.jpg);
	background-repeat: repeat;
	padding: 0px;
}