body {
}

.welcome {				
	height: 125px;
	background-image: url(../Images/JYC_logo.jpg); 
	background-repeat :no-repeat;
	background-position: center;
	margin: 0 auto;
	text-align:center;
	height:330px;
	width:500px;
}

.welcome2 		
{    		
	height:330px;	
}

.textoImg1
{
    position:absolute;
    text-align:center;
    top: 10px;    
    color:Black;
    font-weight:bold;
    }

.textoImg2
{
    position:absolute;
    text-align:center;
    top: 10px;    
    color:Black;
    
    }
    
 .textoImg3
{
    position:absolute;
    text-align:center;
    top: 10px;    
    color:Black;
    
    }

#cumple
{   
  /*  background-image: url(../Images/welcome/cumpleanos.jpg);    */
    height:400px;
    }
    
#Comunicados
{
   /* background-image: url(../Images/welcome/comunicado.jpg);*/
     height:400px;
    }
    
#NuevosDoc
{    
    height:400px;
    }