body {
}

.Centrar
{    
    margin: 0 auto;            
    width:900px;    
    }

.titulo
{        
    height:40px;
    margin-top: 20px;
    }

.ESG1
{   
   
   float: left;   
   height: 70px;  
   width: 900px;   
   margin-top:20px;   
    }
    
.ESG11
{    
   float: left;   
   height: 40px;  
   width: 800px;
   margin-top:20px;
   text-align: right; 
    }
    
.ESG2
{
    border: double #666666;
   float: left;   
   height: 300px;  
   width: 900px;
   text-align: right;
   overflow: auto;
    }
    .ESG21
{    
   float: left;   
   height: 40px;  
   width: 800px;
   margin-top:20px;
   text-align: right; 
    }

    
.ESG3
{    
    border: double #666666;
   float: left;   
   height: 300px;  
   width: 900px;
   text-align: right;
    overflow: auto;
    margin-top:20px;
    }
    
    
   .ESG4
{      
   float: left;   
   height: 50px;  
   width: 162px;
   margin-top:20px;
   
    }
    
    .ESG5
{    
   border: double #666666;
   float: left;   
   height: 400px;  
   width: 900px;
   margin-top:20px;  
    overflow: auto;   
    }
    
    .ESG6
{    
   
   float: left;   
   height: 50px;  
   width: 900px;
   margin-top:20px;     
    }
    
      .botonLink
    {        
   margin-top:40px;    
   float: right;    
        }